.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Heading_1 {font-family:Arial;font-weight:bold;font-style:normal;font-size:64px;text-decoration:none;color:#5EC62E;background-color:Transparent;letter-spacing:0em;}
.Heading_2 {font-size:32px;color:#FFFFFF;}
.BiggerText {font-size:23px;}
.Heading_3 {font-size:20px;}
